<!-- Google Tag Manager -->
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5NSCK83');
</script>
<!-- End Google Tag Manager -->

<!-- Structed Data -->
<script type="application/ld+json">
    {{ if eq .Section "recipes" }}
      {
        "@context": "https://schema.org/",
        "@type": "Recipe",
        "name": "{{ .Title }}",
        "image": "{{ .Params.image }}",
        "author": {
          "@type": "Person",
          "name": "Ankur Sinha"
        },
        "datePublished": "{{ .Params.date }}",
        "description": "{{ .Description }}",
        "prepTime": "{{ .Params.prepTime }}",
        "cookTime": "{{ .Params.cookTime }}",
        "totalTime": "{{ .Params.totalTime }}",
        "keywords": "{{ .Params.keywords }}"
      }
    {{ end }}
</script>
<!-- End Structured Data -->