{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           
	{{if eq .Site.Language.Lang "fr"}}
		<h1>Personaliser la page d'accueil</h1>
		<p>
		  Le site fonctionne. Ne pas oublier de personaliser cette page avec votre propre contenu. 3 manières de faire :
		</p>
		<ul>
			<li><b>1. </b> Créer un fichier _index.md dans le dossier <b>content</b> et le remplir de Markdown</li>
			<li><b>2. </b> Créer un fichier index.html dans le dossier <b>static</b> et le remplir de code HTML</li>
		  <li><b>3. </b> Configurer le serveur http pour rediriger automatiquement la homepage vers la page de votre choix dans le site</li>
		</ul>
	{{else}}
	<h1>Hello, World!</h1>
	<h3>Latest Posts Under Recipes</h3>
	<ul>
		{{ range first 20 ( where .Pages.ByDate "Section" "recipes" ).Reverse }}
        <li>
            <a href="{{.Permalink}}">{{.Title}} | {{.Description}}</a>
				</li>
    {{ end }}
	</ul> 
	<h3>Latest Posts Under Travelogue</h3>
	<ul>
		{{ range first 20 ( where .Pages.ByDate "Section" "travelogue" ).Reverse }}
        <li>
            <a href="{{.Permalink}}">{{.Title}} | {{.Description}}</a>
				</li>
    {{ end }}
	</ul> 
	<h3>Latest Posts Under Programming</h3>
	<ul>
		{{ range first 20 ( where .Pages.ByDate "Section" "programming" ).Reverse }}
        <li>
            <a href="{{.Permalink}}">{{.Title}} | {{.Description}}</a>
				</li>
    {{ end }}
	</ul> 
	<h3>Latest Posts Under Cricket</h3>
	<ul>
		{{ range first 20 ( where .Pages.ByDate "Section" "cricket" ).Reverse }}
        <li>
            <a href="{{.Permalink}}">{{.Title}} | {{.Description}}</a>
				</li>
    {{ end }}
	</ul> 
	{{end}}
{{ end }}  
{{ partial "footer.html" . }}
